.container {
    background-color:black;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 650;
}

.item {
    font-size: 30px;
    padding:10px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.item1  {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:#FCE2E3;
}

.item6 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
   background-color:#FBF4D8;
}

.item8 {
    grid-row-start: 3;
    grid-row-end: 4;
    background-color:#CFD4C5;
}

.item2 {
    background-color:#E2ECE9;
}

.item10 {
    background-color:#E5E4F2;

}

.item5 {
    background-color:#E8D9E7;
}

.item3 {
    background-color:#FCD6CF;
}

.item9 {
    background-color:#F9DCC4;
}

.item12 {
    background-color:#C5DEF2;
}

.item4 {
    background-color:#DEE8C8;
}

.item7 {
    background-color:#C5DAD0
}

.item11 {
    background-color:#E9DEE0;
}
body{
    background-color:black;
}